.container {
  display: flex;
  gap: 1rem;
  min-height: 200px;
  border: 1px solid lightgray;
  border-radius: 0.25rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 1rem;
}

.footer {
  display: flex;
  flex-direction: row-reverse;
  border: 1px solid lightgray;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  height: 2rem;
  align-items: center;
  margin-bottom: 1rem;
}

.orderButton {
  background: lightgreen;
  color: olivedrab;
  height: 100%;
  display: flex;
  align-items: center;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 0.2rem;
  justify-content: start;
}
