

#navbar {
    display: flex;
    justify-content: space-between;
   background-color: red;
}

#search_box {
    width: 600px;
    height: 22px;
    margin-top: 16px;
    margin-left: 22px;
    border-radius: 10px;
    
}

#main_container {
    display: flex;
}

#sidebar {
    border: 1px solid black;
    width: 330px;
    height: 600px;
    text-align: center;
}

#news_result {
    border: 1px solid blue;
    width: 1200px;
    height: 600px;
}

